{% extends 'base.html' %}

{% block content %}

    <form id="fm" action="/weixin/join2/" method="post" style="margin:0;padding:10px">
        <div class="weui-cell">
            <div class="weui-cell weui-cell_select weui-cell_select-before">
                <div class="weui-cell__hd">
                    <select class="weui-select" name="name-select">
                        <option selected="" value="1">姓名</option>
                    </select>
                </div>

                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" required name="name" placeholder="请输入姓名">
                </div>
            </div>

        </div>

        <div class="weui-cell">
            <div class="weui-cell weui-cell_select weui-cell_select-before">
                <div class="weui-cell__hd">
                    <select class="weui-select" name="select1">
                        <option selected="" value="1">性别</option>
                    </select>
                </div>


            </div>

            <div class="weui-cell_select weui-cell_select-before">
                <div class="weui-cells__hd">
                    <select class="weui-select" name="sex">
                        <option selected="" value="1">男</option>
                        <option value="2">女</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="weui-cell">
            <div class="weui-cell weui-cell_select weui-cell_select-before">
                <div class="weui-cell__hd">
                    <select class="weui-select" name="number-type">
                        {% for k, v in number_type.items %}
                            <option value="{{ k }}" {% ifequal k 1 %}selected{% endifequal %}>{{ v }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" required name="number" placeholder="请输入号码">
                </div>
            </div>

        </div>

        <div class="weui-cell">
            <div class="weui-cell weui-cell_select weui-cell_select-before">
                <div class="weui-cell__hd">
                    <select class="weui-select" name="number-location">
                        <option value="1">+86</option>
                    </select>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" required name="phone-number" pattern="[0-9]*" placeholder="请输入手机号码">
                </div>
            </div>
        </div>

        <div class="weui-cell">
        <div class="weui-cell__hd"><label for="home-city" class="weui-label">城市</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="home-city" type="text" readonly="" data-code="110000" data-codes="110000,110000">
        </div>
      </div>

        <div class="weui-cell">
            <div class="weui-cell weui-cell_select weui-cell_select-before">

                <div class="weui-cell__hd">
                    <select class="weui-select" name="select2">
                        <option value="1">生日</option>
                    </select>
                </div>
                <div style="padding: 20px">
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="birth-year">
                            {% for k, v in years.items %}
                                <option value="{{ k }}" {% ifequal k 30 %}selected{% endifequal %}>{{ v }}</option>
                            {% endfor %}
                        </select>

                        <select class="weui-select" name="birth-month">
                            {% for k, v in months.items %}
                                <option value="{{ k }}" >{{ v }}</option>
                            {% endfor %}
                        </select>

                        <select class="weui-select" name="birth-day">
                            {% for k, v in days.items %}
                                <option value="{{ k }}">{{ v }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

            </div>
        </div>

        <label for="weuiAgree" class="weui-agree">
            <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox" required>
            <span class="weui-agree__text">
                阅读并同意<a href="javascript:void(0);">《相关条款》</a>
            </span>
        </label>

        <input class="weui-btn weui-btn_primary" type="submit" value="下一步">


    </form>

    <script>
      $("#home-city").cityPicker({
        title: "选择目的地",
        showDistrict: false,
        onChange: function (picker, values, displayValues) {
          console.log(values, displayValues);
        }
      });

    </script>
{% endblock %}
