{% extends 'base.html' %}

{% block content %}
    <div class="nr_con_all_pr">
        <div class="gr_top">
           <img class="gr_tx" src="{{ headimgurl }}" alt="微信头像">
           <div class="gr_nc">{{ nickname }}</div>

           <span class="col_z">恋爱达人，小清新</span>
       </div>
    </div>

    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
            <p>导师互动</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>

    {% if not is_member %}
        <a class="weui-cell weui-cell_access" href="/weixin/member_join/">
            <div class="weui-cell__bd">
                <p>加入会员</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
    {% else %}
        <a class="weui-cell weui-cell_access" href="/weixin/show_member/">
            <div class="weui-cell__bd">
                <p>会员预览</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
    {% endif %}

    {% if not is_expert %}
        <a class="weui-cell weui-cell_access" href="/weixin/expert_join/">
            <div class="weui-cell__bd">
                <p>情感专家加盟</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
    {% else %}
        <a class="weui-cell weui-cell_access" href="/weixin/show_expert/">
            <div class="weui-cell__bd">
                <p>情感专家预览</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
    {% endif %}


{% endblock %}