{% extends 'base.html' %}

{% block content %}
    <div><img src="{{ image }}" id="head"></div>

    <div>
        {{ name }}
        {{ memberType }}
    </div>

    <div>
        <div class="weui-cells__title">我的信息</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>性别</p>
                </div>
                <div class="weui-cell__ft">{{ sex }}</div>
            </div>


            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>出生年月</p>
                </div>
                <div class="weui-cell__ft">{{ birthday }}</div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>手机号码</p>
                </div>
                <div class="weui-cell__ft">{{ phoneNumber }}</div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>{{ numberType }}</p>
                </div>
                <div class="weui-cell__ft">{{ number }}</div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>所在城市</p>
                </div>
                <div class="weui-cell__ft">{{ city }}</div>
            </div>
        </div>

    </div>
    <script>
        $(document).ready(function(){
            $("#view").css("width",document.body.clientWidth);

        })
    </script>
{% endblock %}